html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET DONE */
html, body { } 


.clearfix {
  clear: both;
}
.section {
  margin: 0 auto;
  text-align: center;
}



/* Button styles */
.btn {
  box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
  
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 50px;
  
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
    
  line-height: 50px;
  padding: 0 30px;  
  margin-bottom: 40px;
  font-size: 14px;
  text-shadow: 0 1px rgba(0,0,0,.1);
  font-weight: bold;
  -webkit-font-smoothing: antialiased;

  -webkit-box-shadow: 0 3px 0 0 #72ad0d;
  box-shadow: 0 3px 0 0 #72ad0d;
  background-color: #9bd668;
}
  .btn:active,
  .btn.active {
    top: 2px;
    -webkit-box-shadow: 0 1px 0 0 #72ad0d;
    box-shadow: 0 1px 0 0 #72ad0d;
  }
.container {
  padding: 0 5%;
}

/* Card Preview */

.card-container {
  position: relative;
  width: 70px;
  margin-top: 35px;

  -webkit-perspective: 800px;
  perspective: 800px;

  -webkit-perspective-origin: 0 50%;
  perspective-origin: 0% 50%;

  -webkit-transition: .4s;  
  transition: .4s;  
}
  .card {
    position: relative;
    width: 250px;
    margin-bottom: 10px;
    overflow: hidden;
    line-height: 0px;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

    -webkit-transition: .4s;
    transition: .4s;
  }

    .card img { width: 100%; }
    .card a { margin: 0; }

    .card-container {
      float: left;
      left: 0;
    }
      .card-container:first-child .card {
        -webkit-box-shadow: -10px 10px 20px 0 rgba(0,0,0,.1);
        -moz-box-shadow: -10px 10px 20px 0 rgba(0,0,0,.1);
        box-shadow: -10px 10px 20px 0 rgba(0,0,0,.1);
      }
      .card-container .card {
        -webkit-transform: rotateY( 30deg );
        transform: rotateY( 30deg );

        -webkit-box-shadow: -10px 10px 20px 0 rgba(0,0,0,.4);
        -moz-box-shadow: -10px 10px 20px 0 rgba(0,0,0,.4);
        box-shadow: -10px 10px 20px 0 rgba(0,0,0,.4);
      }

    /* Active */
    .card-container.active {
      z-index: 1;
      margin: 0; 
      left: 60%;
    }
      .card-container.active .card {
        width: 300px;
        -webkit-transform: rotateY( 0deg );
        transform: rotateY( 0deg );
        -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,.4);
        -moz-box-shadow: 0 10px 20px 0 rgba(0,0,0,.4);
        box-shadow: 0 10px 20px 0 rgba(0,0,0,.4);
      }



